<style>
    @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css";
    @import "/skins/<%=skin%>/css/franken.css";
    @import "/skins/<%=skin%>/css/output.css";
</style>
<script src="/skins/<%=skin%>/js/franken.js"></script>
<div class="Modern">
    <!--https://github.com/wikiengine/modern-->
    <div class="bg-neutral-100 dark:bg-neutral-900 w-full min-h-screen">
        <header class="border-b bg-white dark:bg-black">
            <div class="container mx-auto px-4">
              <nav class="flex items-center justify-between h-16">
                <div class="flex items-center">
                  <a href="/" class="text-2xl font-bold text-black dark:text-white"><%=config.logo_text%></a>
                  <%-include('./layouts/links')%>
                </div>
                <div class="flex items-center space-x-4">
                    <!--검색-->
                    <button
                    class="uk-btn uk-btn-icon uk-btn-ghost text-black dark:text-white"
                    type="button"
                    data-uk-toggle="target: #modal-close-default"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
                    </button>
                    <!--유저-->
                    <%-include('./layouts/user')%>
                    <!--모바일 링크-->
                    <button
                    class="uk-btn uk-btn-icon uk-btn-ghost md:hidden text-black dark:text-white"
                    type="button"
                    data-uk-toggle="target: #offcanvas-flip"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
                    </button>
                </div>
              </nav>
            </div>
        </header>
        <%-include('./layouts/banners')%>
        <main class="w-full" id="content">
            <div class="flex flex-col md:flex-row gap-4 w-full items-start">
                <%-include('./layouts/content')%>
                <%-include('./layouts/sideBar')%>
            </div>
        </main>
        <footer>
            <div class="bg-card text-card-foreground rounded-xl border shadow mt-4">
                <div class="flex flex-col space-y-1.5 p-6 pb-0">
                    <div class="font-semibold leading-none tracking-tight flex">
                        <a class="text-black dark:text-white font-bold" href="//testwiki.hyonsu.com">the tree</a>&nbsp;|&nbsp;<a class="text-black dark:text-white font-bold" href="//github.com/wikiengine/modern">modern</a>
                    </div>
                </div>
                <div class="p-6">
                    <%if(page.viewName === 'wiki' && page.data.date) {%>
                        <%const timeTag = getFullDateTag(page.data.date);%>
                        <%if(page.data.rev) {%>
                            <p>이 리비전은 <%-timeTag%>에 편집되었습니다.</p>
                        <%} else {%>
                            <p class="footer-info-lastmod">이 문서는 <%-timeTag%>에 마지막으로 편집되었습니다.</p>
                        <%}%>
                    <%}%>
                    <b><%-config.copyright_text%></b>
                    <p><%-config.footer_html%></p>
                </div>
            </div>
        </footer>
        <!--MobileMenu-->
        <%-include('./layouts/mobileLinks')%>
        <!--search modal-->
        <%-include('./layouts/search')%>
    </div>
</div>